@import "colour";
@import "breakpoints";
@import "scale";
@import "type";

.footer {

    width: 100%;
    position: absolute;
    bottom: 0;
    display: table;

    @include little {
        padding-top: $spacing-medium;
        padding-bottom: $spacing-large;
    }

    @include large {
        padding-top: $spacing-small;
        padding-bottom: $spacing-medium;
    }

    a {
        text-decoration: none;
        padding-right: $spacing-small;

        @include large {
            display: inline-block;
        }

        &:hover {
            color: $white;
        }

        &:last-of-type {

            @include little {
                display: block;
                padding-top: $spacing-small;
            }

            @include large {
                padding-top: $spacing-none;
            }
        }
    }

    div {
        padding-bottom: 0;

        @include little {
            float: left;
            display: block;
            padding-top: $spacing-small;
        }


        @include large {
            float: right;
            display: inline-block;
            padding-top: $spacing-none;
        }
    }
}
