@import "scale";

.header {
    padding-top: $spacing-large;

    a {
        display: inline-block;
        vertical-align: middle;
        margin-right: $spacing-medium;
        text-decoration: none;
        font-size: $f3;
    }

    img {
        max-height: $spacing-extra-large;
    }

}
