@import "colour";
@import "breakpoints";
@import "scale";
@import "type";


.landing-header {
    height: 100vh;
    display: table;
    width: 100%;
    color: $white;
    background-color: $black-90;

    div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        h1 {
            width: 80%;
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0;
            margin-top: 0;
            line-height: 0;
            padding: 0;
        }

        h2 {
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;

            @include large {
                font-size: $f3;
            }

            @include little {
                font-size: $f5;
            }
        }
    }
}

.landing-block {
    height: 100vh;
    width: 100%;
    display: table;
    background-color: $black-70;

    div {

        vertical-align: middle;
        background-size: cover !important;
        display: table-cell;
        line-height: 1.25;
        text-align: left;

        @include little {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        @include large {
            padding-left: 8rem;
            padding-right: 8rem;
        }

        h3 {
            max-width: 34em;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 0;



            @include large {
                font-size: $f2;
            }

            @include little {
                font-size: $f3;
            }
        }

        p {
            max-width: 34em;
            margin-top: 0;

            @include large {
                font-size: $f4;
            }

            @include little {
                font-size: $f5;
            }
        }
    }
}
