@import "scale";
@import "colour";

.post-list {
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            padding-bottom: $spacing-medium;

            a {
                font-size: $f3;
                text-decoration: none;
                display: block;
            }

            time {
                display: block;
                color: $silver;
                font-size: $f4;
            }

            div {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                font-size: $f4;
            }
        }
    }
}
