@import url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap);

:root {
  font-family: "Crimson Text", Georgia, serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 1.15;
  font-size: 20px;
}

@font-face {
  font-family: "thornletter";
  src: url("/thornletter.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

.thornletter {
  @apply font-thornletter;
  @apply tracking-tightest;
}

a {
  @apply underline;
}
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
ul {
  @apply list-disc;
  @apply pl-4;
}
